<% content_for :title, "Trips · Footprints" %>
<div class="container d-flex flex-column pb-4">
  <p style="color: green"><%= notice %></p>

  <div class="d-flex align-items-center justify-content-between">
    <h2>Trips</h2>
    <% if Current.user %>
      <%= link_to "Create new trip",
                  new_trip_path,
                  class: "btn btn-success",
                  data: { turbo_frame: dom_id(Trip.new) } %>

    <% else %>
      <%= link_to "Sign up to create a trip",
                  sign_up_path,
                  class: "btn btn-success",
                  data: { turbo_frame: "_top" } %>
    <% end %>
  </div>

  <%= turbo_frame_tag Trip.new do %>
    <% if @trips.none? %>
      <%= render partial: "trips/empty_state", locals: {
        message: "There are no trips yet."
      } %>
      <% end %>
  <% end %>

  <%= turbo_stream_from @trips if @trips.any? %>

  <%= turbo_frame_tag "trips" do %>
    <div id="trips" class="d-flex flex-column gap-4 pt-2">
      <% @trips.order(created_at: :desc).each do |trip| %>
        <%= render trip %>
      <% end %>
    </div>
  <% end %>
</div>