<div class="d-flex flex-column gap-3">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Trips" %>

  <div class="row">
    <div class="col">
      <h1>Trips</h1>
      <p class="fs-5">Explore peoples trips through simple posts with an image.</p>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <% if Current.user %>
        <%= link_to "Create new trip",
                    new_trip_path,
                    class: "btn btn-success",
                    data: { turbo_frame: dom_id(Trip.new) } %>

      <% else %>
        <%= link_to "Sign up to create a trip",
                    sign_up_path,
                    class: "btn btn-success",
                    data: { turbo_frame: "_top" } %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag Trip.new do %>
    <% if @trips.none? %>
        <%= render "trips/empty_state" %>
      <% end %>
  <% end %>

  <%= turbo_stream_from @trips if @trips.any? %>

  <%= turbo_frame_tag "trips" do %>
    <div id="trips">
      <% @trips.order(created_at: :desc).each do |trip| %>
        <%= render trip %>
      <% end %>
    </div>
  <% end %>
</div>