<div class="d-flex flex-column gap-2" id="<%= dom_id @trip %>">
  <h2 class="text__link"><%= @trip.name %></h2>
  <div class="d-flex flex-column border rounded-bottom-2 px-2 h-4" style="min-height: 5em;">
    <%= @trip.body %>
  </div>

  <% if Current.user == @trip.user %>
    <%= link_to "Create new post",
      new_post_path(trip_id: @trip.id),
      class: "btn btn-success",
      data: { turbo_frame: dom_id(Post.new) } %>
  <% end %>

  <%= turbo_frame_tag Post.new do %>
    <% if @trip.posts.none? %>
      <%= render "posts/empty_state", locals: { trip: @trip } %>
    <% end %>
  <% end %>

  <%= turbo_stream_from @trip %>

  <%= turbo_frame_tag "posts" do %>
    <div class="d-flex flex-column gap-4">
      <%= render @trip.posts.order(created_at: :desc) %>
    </div>
  <% end %>
</div>