<div
  data-controller="map"
  class="d-flex flex-column-reverse flex-lg-row gap-2" id="<%= dom_id @trip %>"
>
  <div class="d-flex flex-column gap-2 w-100">
    <div class="desktop-only">
      <h2><%= @trip.name %></h2>
      <div class="d-flex flex-row flex-lg-row justify-content-between h-4">
        <%= @trip.body %>

        <% if Current.user == @trip.user %>
          <%= link_to "Create new post",
            new_post_path(trip_id: @trip.id),
            class: "btn btn-success",
            data: { turbo_frame: dom_id(Post.new) } %>
        <% end %>
      </div>

      <div class="d-flex flex-row gap-2">
        <div class="d-flex flex-column">
          <p class="fw-bold m-0">Trip started</p>
          <p class="m-0"><%= @trip.created_at&.strftime("%B %d, %Y") %></p>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag Post.new do %>
      <% if @trip.posts.none? %>
        <%= render "posts/empty_state", locals: { trip: @trip } %>
      <% end %>
    <% end %>

    <%= turbo_stream_from @trip %>

    <%= turbo_frame_tag "posts" do %>
      <div class="d-flex flex-column gap-4">
        <%= render @trip.posts.order(created_at: :desc) %>
      </div>
    <% end %>
  </div>

  <% if @trip.posts.with_location.any? %>
    <div
      class="sticky-lg-top border rounded-2 bg-white shadow-sm trip-map"
      style="max-height: 500px; z-index: 100;"
      data-map-target="map"
      id="posts-map"
      data-points='<%= raw generated_points(@trip) %>'>
    </div>
  <% end %>

  <div class="mobile-only">
    <h2><%= @trip.name %></h2>
    <div class="d-flex flex-row flex-lg-row justify-content-between h-4">
      <%= @trip.body %>

       <% if Current.user == @trip.user %>
        <%= link_to "Create new post",
          new_post_path(trip_id: @trip.id),
          class: "btn btn-success",
          data: { turbo_frame: dom_id(Post.new) } %>
      <% end %>
    </div>

    <div class="d-flex flex-row gap-2">
      <div class="d-flex flex-column">
        <p class="fw-bold m-0">Trip started</p>
        <p class="m-0"><%= @trip.created_at&.strftime("%B %d, %Y") %></p>
      </div>
    </div>
  </div>
</div>