<html>
  <div
    style="display: table; background: #5e77da; color: #fff; text-align: center; align-items: center;
      border-radius: 0.5em; font-size: 1em; padding: 1em;
      font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';"
  >
    <div class="new-post-mail__logo">
      <%= image_tag("desktop-logo.svg", width: "200", height: "50") %>
    </div>

    <h2 style="margin: 0.5em 0;">Hi <%= @user.username %></h2>

    <p><%= @post.user.username %> has created <%= link_to "a new post", url_for(controller: 'trips', action: 'show', id: @post.trip.id) %> on their trip <%= @post.trip.name %></p>
  </span>
  <p style="margin: 0.5em 0;">Check it out and leave a comment!</p>
</html>