<div
  class="container d-flex flex-column gap-1"
>
  <p style="color: red"><%= alert %></p>

  <h1>Forgot your password?</h1>

  <%= form_with(url: identity_password_reset_path) do |form| %>
    <div class="mb-3">
      <%= form.label :email, class:"form-label", style: "display: block" %>
      <%= form.email_field :email, required: true, autofocus: true, class:"form-control" %>
    </div>

    <div>
      <%= form.submit "Send password reset email", class:"btn btn-danger" %>
    </div>
  <% end %>
</div>