<%= turbo_frame_tag dom_id(post_comment) do %>
  <div
    class="form d-flex flex-column p-2 bg-body rounded border border-1 border-light-subtle"
  >
    <div class="form__field d-flex flex-row gap-2 w-100">
      <% if post_comment.user.profile_picture.attached? %>
        <%= image_tag post_comment.user.image_as_thumbnail, class:"rounded-circle mt-1", style:"height: 22px; width: 22px;" %>
      <% else %>
        <i
          class="bi bi-person-circle mt-1"
          style="font-size: 1.3em; color: white;"
        ></i>
      <% end %>
      <div class="d-flex flex-column w-100">
        <div class="d-flex flex-row justify-content-between">
          <span class="d-flex flex-row gap-1">
            <%=
              link_to post_comment.user.username,
              url_for(
                controller: '/users',
                action: 'show',
                username: post_comment.user.username
              ),
              class: "text__link",
              data: { turbo_frame: "_top" }
            %>
            <p class="mb-0 fw-lighter"><%= time_ago_in_words_with_units(post_comment.created_at) %></p>
          </span>
          <% if Current.user == post_comment.user %>
            <div class="dropdown">
              <button class="btn px-1" id="bd-edit" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Edit Comment">
                <i class="bi bi-three-dots"></i>
              </button>

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                <li>
                  <%= link_to "Edit Comment",
                      edit_post_comment_path(id: post_comment.id, post_id: post_comment.post_id),
                      data: { turbo_frame: dom_id(post_comment) },
                      class: "dropdown-item" %>
                </li>
                <li>
                  <%= button_to "Delete Comment",
                      post_comment, method: :delete,
                      data: { turbo: "true" },
                      form: { data: { 'turbo-confirm': 'Are you sure?' } },
                      class: "dropdown-item dropdown-item--danger" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="d-flex flex-row gap-1 justify-content-between w-100">
          <p class="mb-0 text-wrap"><%= post_comment.content %></p>
          <% if Current.user %>
            <% if post_comment.liked_by?(Current.user) %>
              <%= button_to post_comment_post_comment_like_path(post_comment.id, post_comment.likes.find_by(user: Current.user).id),
                class:"btn d-flex flex-row gap-1 px-0 pt-0 h-100 align-items-center",
                style:"background: none; border: none;",
                method: :delete do %>
                <i class="bi bi-heart-fill text-danger"></i>
                <%= post_comment.likes.count %>
              <% end %>
            <% else %>
              <%= button_to post_comment_post_comment_likes_path(post_comment_id: post_comment.id), class: "btn d-flex flex-row gap-1 px-0 pt-0 h-100 align-items-center", style: "background: none; border: none;" do %>
                <i class="bi bi-heart"></i>
                <%= post_comment.likes.count %>
              <% end %>
            <% end %>
          <% else %>
            <button class="btn d-flex flex-row gap-1 px-0 pt-0 h-100 align-items-center" style="background: none; border: none;">
              <i class="bi bi-heart"></i>
              <%= post_comment.likes.count %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ms-3" data-controller="post-replies">
      <div class="d-flex flex-row">
        <button
          class="btn btn-link text__link pt-0"
          style="text-align: left;"
          data-action="click->post-replies#showReplyForm"
        >
          Reply
        </button>

        <% if post_comment.has_replies %>
          <%= turbo_frame_tag "postComment-#{post_comment.id}__reply-count" do %>
            <button
              class="btn btn-link text__link pt-0"
              style="text-align: left;"
              data-post-replies-target="showRepliesButton"
              data-action="click->post-replies#showReplies"
            >
              View <%= pluralize(post_comment.replies.count, "more reply") %>
            </button>

            <button
              class="visually-hidden btn btn-link text__link pt-0"
              style="text-align: left;"
              data-post-replies-target="hideRepliesButton"
              data-action="click->post-replies#hideReplies"
            >
              Hide <%= post_comment.replies.count == 1 ? "reply" : "replies" %>
            </button>
          <% end %>
        <% end %>
      </div>

      <%= turbo_frame_tag "postComment-#{post_comment.id}__replies" do %>
        <div class="visually-hidden" data-post-replies-target="replies">
          <%= render post_comment.replies %>
        </div>
      <% end %>

      <%= turbo_frame_tag "postComment-#{post_comment.id}__form" do %>
        <div class="visually-hidden" data-post-replies-target="replyForm">
          <%= render partial: "post_comment_replies/form",
            locals: { post_comment_reply: post_comment.replies.new, post_comment: post_comment } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>