<%= turbo_stream.append "post-#{@post.id}__comments", partial: "post_comments/post_comment", locals: { post_comment: @post_comment } %>

<%= turbo_stream.replace "post-#{@post.id}__comment-form" do %>
  <div id='<%= "post-#{@post.id}__comment-form" %>'>
    <%= render partial: "post_comments/form",
      locals: { trip: @post.trip, post_comment: @post.comments.new, post: @post } %>
  </div>
<% end %>

<%= turbo_stream.replace "post-#{@post.id}__comment-count" do %>
  <button id='<%= "post-#{@post.id}__comment-count" %>' class= "btn px-0" style="background: none; border: none;">
    <i class="bi bi-chat"></i>
    <%= @post.comments.count %>
  </button>
<% end %>