<div class="container d-flex flex-column gap-4">

  <div class="d-flex flex-row gap-2 align-items-center">
    <% if @user.profile_picture.attached? %>
      <%= image_tag @user.image_as_thumbnail, class:"rounded-circle", style:"height: 100px; width: 100px;" %>
    <% end %>
    <span class="d-flex flex-column gap-1">
      <h2><%= @user.username %></h2>
      <div><%= @user.email %></div>
      <%=
        link_to "Edit profile",
        edit_user_path(username: @user.username),
        class: "text__link"
      %>
    </span>
  </div>

  <span>
    <h2>Trips</h2>
    <% if @user.trips.any? %>
      <%= render @user.trips.order(created_at: :desc) %>
    <% else %>
      <%= render "trips/empty_state" %>
    <% end %>
  </span>

  <span>
    <h2>Companion Trips</h2>
    <% if @user.companion_trips.any? %>
      <%= render @user.companion_trips.order(created_at: :desc) %>
    <% else %>
      <%= render "trips/empty_state" %>
    <% end %>
  </span>
</div>