<div class="container">
  <h2><%= @user.username %></h2>
  <div><%= @user.email %></div>

  <% if Current.user.id == @user.id %>
    <h2>Login and verification</h2>
    <div>
      <%= link_to "Change password", edit_password_path %>
    </div>
    <div>
      <%= link_to "Change email address", edit_identity_email_path %>
    </div>
    <h2>Access history</h2>
    <div>
      <%= link_to "Devices & Sessions", sessions_path %>
    </div>
    <br>
    <%= button_to "Log out", Current.session, method: :delete, class:"btn btn-secondary" %>
  <% end%>

  <h2>Trips</h2>
  <% if @user.trips.any? %>
    <%= render @user.trips.order(created_at: :desc) %>
  <% else %>
    <%= render "trips/empty_state" %>
  <% end %>
</div>