<%= form_with(id: "post_form", model: [@trip, @post]) do |form| %>
  <div class="form d-flex flex-column gap-2">
    <div class="form__field">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title,
        class: "form-control",
        placeholder: "Add a title",
        autofocus: true %>
    </div>

    <div class="form__field">
      <%= form.label :body, class: "form-label" %>
      <%= form.rich_text_area :body,
        placeholder: "Add a trip description",
        class: "form-control rounded-top-0",
        size: "20x3", required: true %>
    </div>
    <% if @post.attachments.attached? %>
      <%= form.label :attachments, class: "form-label" %>
      <div
        class="d-flex flex-column border rounded gap-1 p-2"
      >
        <div id="carouselExampleIndicators" class="carousel slide d-flex flex-column">
          <div
            class="carousel-inner"
            style="height: 500px;"
          >
            <% post.attachments.each_with_index do |attachment, index| %>
              <div
                class="carousel-item <%= 'active' if index == 0 %>"
                style="height: 100%;"
              >
                <div
                  class="position-absolute d-flex top-0 m-2 bg-light-subtle border rounded-circle align-items-center justify-content-center"
                  style="z-index: 1; height: 30px; width: 30px;"
                >
                  <p class="mb-0"><%= index + 1 %></p>
                </div>
                <%= link_to remove_attachment_trip_post_path(trip_id: @trip, post_id: @post.id, id: attachment.id),
                  class:"btn btn-danger d-flex justify-content-center align-items-center position-absolute top-0 end-0 mt-1 me-1",
                  style:"height: 40px; width: 40px; z-index: 200;",
                  data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
                <%= form.hidden_field :attachments, multiple: true, value: attachment.signed_id %>
                <div class="d-flex justify-content-center" style="height: inherit;">
                  <div
                    class="d-flex flex-column align-items-center"
                    style="width: 400px;"
                  >
                    <% if attachment.image? %>
                      <%= link_to image_tag(post.image_as_thumbnail(attachment), class: "post-image"), attachment, target: "_blank", class: "h-4 w-4" %>
                    <% else %>
                      <%= video_tag url_for(attachment), controls: true, style: "height: 400px; width: 400px; background: lightgrey;" %>
                    <% end %>

                    <div class="d-flex flex-row gap-1">
                      <%= form.fields_for :post_attachment_captions, attachment.caption || form.object.post_attachment_captions.build do |caption_form| %>
                        <div class="form__field d-flex flex-row gap-1 align-items-center p-2">
                          <%= caption_form.hidden_field :attachment_id, value: attachment.id %>
                          <%= caption_form.hidden_field :post_id, value: post.id %>
                          <%= caption_form.text_field :text,
                            class: "form-control",
                            placeholder: "Add a caption" %>
                        </div>
                      <% end %>
                      <%= link_to remove_attachment_caption_post_post_attachment_caption_path(post_id: @post.id, attachment_id: attachment.id),
                        class:"btn btn-danger d-flex justify-content-center align-items-center mt-1 me-1",
                        style:"height: 40px; width: 40px; z-index: 200;",
                        data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } do %>
                        <i class="bi bi-trash-fill"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="carousel-indicators">
            <% post.attachments.each_with_index do |attachment, index| %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    <% end %>

    <div class="d-flex flex-row gap-2 flex-wrap">
      <div style="max-width: 400px;">
        <label for="formFile" class="form-label">Upload files</label>
        <%= form.file_field :attachments, multiple: true, accept: '.png,.jpeg,.jpg,.mp4,.avi,.mov', class: "form-control", id:"formFile" %>
      </div>

      <div class="form__field d-flex flex-row gap-1 align-items-end">
        <%= form.hidden_field :latitude, id: "latitudeValue" %>
        <%= form.hidden_field :longitude, id: "longitudeValue" %>

        <div class="d-flex flex-column">
          <label class="form-label">Set location</label>
          <div class="d-flex flex-row gap-1">
            <input id="addressValue" value="<%= @post.address %>" type="text" name="selectedLocation"
              class="form-control" placeholder="No location chosen" readonly>
            <%= link_to "Set location",
              search_geolocations_path(
                latitude: post.latitude,
                longitude: post.longitude,
                address: post.address
              ),
              class: "btn btn-primary",
              style: "height: 38px; width: 300px;",
              data: { turbo_frame: "modal" },
              type: "button" %>

            <script>
              window.addEventListener('location:selected', function(event) {
                const latitudeField = document.getElementById('latitudeValue');
                const longitudeField = document.getElementById('longitudeValue');
                const addressField = document.getElementById('addressValue');

                latitudeField.value = event.detail.latitude;
                longitudeField.value = event.detail.longitude;
                addressField.value = event.detail.address;
              });
            </script>
          </div>
        </div>
      </div>
    </div>

    <% if @trip %>
      <%= form.hidden_field :trip_id, value: @trip.id %>
    <% else %>
      <%= form.hidden_field :trip_id, value: @post.trip.id %>
    <% end %>

    <div class="d-flex justify-content-start gap-2" role="group">
      <%= form.submit class: "btn btn-success" %>
      <%= link_to "Cancel", trip_url(@trip),
          type:"button",
          class: "btn btn-secondary w-3" %>
    </div>

    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>