<%= form_with(id: "post_form", model: [@trip, @post], data: { turbo: false }) do |form| %>
  <div class="form d-flex flex-column gap-2 pb-5">
    <div class="d-flex flex-row gap-1 justify-content-between">
      <div class="form__field" style="width: 80%;">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title,
          class: "form-control",
          placeholder: "Add a title" %>
      </div>
      <div class="form__field form-check form-switch">
        <%= form.check_box :draft, class: "form-check-input", role:"switch" %>
        <%= form.label :draft, "Draft", class: "form-check-label" %>
      </div>

      <div class="form__field form-check form-switch">
        <%= form.check_box :hidden, class: "form-check-input", role:"switch" %>
        <%= form.label :hidden, "Hidden", class: "form-check-label" %>
      </div>
    </div>

    <div class="form__field">
      <%= form.label :body, class: "form-label" %>
      <%= form.rich_text_area :body,
        placeholder: "Add a trip description",
        class: "form-control rounded-top-0",
        style: "max-height: 400px; overflow-y: auto;",
        size: "20x3", required: true %>
    </div>
    <% if @post.attachments.attached? %>
      <%= form.label :attachments, class: "form-label" %>
      <div
        class="d-flex flex-column border rounded gap-1 p-2"
      >
        <div id="carouselExampleIndicators" class="carousel slide d-flex flex-column">
          <div
            class="carousel-inner"
            style="height: 500px;"
          >
            <% post.attachments.each_with_index do |attachment, index| %>
              <div
                class="carousel-item <%= 'active' if index == 0 %>"
                style="height: 100%;"
              >
                <div
                  class="position-absolute d-flex top-0 m-2 bg-light-subtle border rounded-circle align-items-center justify-content-center"
                  style="z-index: 1; height: 30px; width: 30px;"
                >
                  <p class="mb-0"><%= index + 1 %></p>
                </div>
                <%= link_to remove_attachment_trip_post_path(trip_id: @trip, post_id: @post.id, id: attachment.id),
                  class:"btn btn-danger d-flex justify-content-center align-items-center position-absolute top-0 end-0 mt-1 me-1",
                  style:"height: 40px; width: 40px; z-index: 200;",
                  data: { turbo: true, turbo_confirm: 'Are you sure?', turbo_method: :delete } do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
                <%= form.hidden_field :attachments, multiple: true, value: attachment.signed_id %>
                <div class="d-flex justify-content-center" style="height: inherit;">
                  <div
                    class="d-flex flex-column align-items-center"
                    style="width: 400px;"
                  >
                    <% if attachment.image? %>
                      <%= link_to image_tag(post.image_as_thumbnail(attachment), class: "post-image"), attachment, target: "_blank", class: "h-4 w-4" %>
                    <% else %>
                      <%= video_tag url_for(attachment), controls: true, style: "height: 400px; width: 400px; background: lightgrey;" %>
                    <% end %>

                    <div class="d-flex flex-row gap-1">
                      <%= form.fields_for :post_attachment_captions, attachment.caption || form.object.post_attachment_captions.build do |caption_form| %>
                        <div class="form__field d-flex flex-row gap-1 align-items-center p-2">
                          <%= caption_form.hidden_field :attachment_id, value: attachment.id %>
                          <%= caption_form.hidden_field :post_id, value: post.id %>
                          <%= caption_form.text_field :text,
                            maxlength: 100,
                            class: "form-control",
                            placeholder: "Add a caption" %>
                        </div>
                      <% end %>
                      <%= link_to remove_attachment_caption_post_post_attachment_caption_path(post_id: @post.id, attachment_id: attachment.id),
                        class:"btn btn-danger d-flex justify-content-center align-items-center mt-1 me-1",
                        style:"height: 40px; width: 40px; z-index: 200;",
                        data: { turbo: true, turbo_confirm: 'Are you sure?', turbo_method: :delete } do %>
                        <i class="bi bi-trash-fill"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="carousel-indicators">
            <% post.attachments.each_with_index do |attachment, index| %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    <% end %>

    <div class="d-flex flex-column flex-wrap gap-2">
      <div class="form__field" style="max-width: 400px;">
        <label for="formFile" class="form-label">Upload files</label>
        <%= form.file_field :attachments, multiple: true, direct_upload: true, accept: '.png,.jpeg,.jpg,.mp4,.avi,.mov', class: "form-control", id:"formFile" %>
      </div>

      <div class="d-flex flex-column gap-2" style="max-width: 800px;">
        <label for="formFile" class="form-label">Locations</label>
        <%= form.fields_for :post_locations do |location_form| %>
          <div class="bg-light-subtle border rounded p-2"
            data-controller="location"
            data-location-lng-value="<%= location_form.object&.longitude %>"
            data-location-lat-value="<%= location_form.object&.latitude %>"
            data-location-address-value="<%= location_form.object&.short_address %>">

            <%= location_form.hidden_field :latitude, data: { location_target: "latitude" } %>
            <%= location_form.hidden_field :longitude, data: { location_target: "longitude" } %>

            <div class="form__field d-flex flex-column gap-2">
              <p><%= location_form.object.persisted? ? ("Location " + (location_form.index + 1).to_s) : "New Location" %></p>
              <div class="input-group">
                <button class="btn location-btn" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="<%= "#location_#{location_form.index}" %>"
                        aria-expanded="false"
                        aria-controls="<%= "#location_#{location_form.index}" %>"
                        style="text-wrap: nowrap;">
                  <%= location_form.object.persisted? ? "Update" : "Choose" %> location
                </button>
                <input data-location-target="address"
                      aria-describedby="btnGroupAddon"
                      aria-label="Location group"
                      value="<%= location_form.object&.short_address %>"
                      type="text"
                      class="form-control"
                      placeholder="No location chosen"
                      readonly>
              </div>

              <div class="collapse" id="<%= "location_#{location_form.index}" %>">
                <div class="card card-body d-flex flex-column">
                  <label class="form-label">Set location</label>
                  <%= render partial: "geolocations/search" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- Button to add new location fields dynamically -->
        <div class="form__field">
          <button type="button" class="btn btn-secondary" id="add-location-button">Add Location</button>
        </div>
      </div>
    </div>

    <% if @trip %>
      <%= form.hidden_field :trip_id, value: @trip.id %>
    <% else %>
      <%= form.hidden_field :trip_id, value: @post.trip.id %>
    <% end %>

    <div class="d-flex justify-content-start gap-2" role="group">
      <%= form.submit class: "btn btn-success" %>
      <%= link_to "Cancel", trip_url(@post.trip),
        type: "button",
        class: "btn btn-secondary w-3" %>
    </div>

    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>