<%= form_with(id: "post_form", model: [@trip, @post]) do |form| %>

  <div class="form d-flex flex-column gap-2">
    <div class="form__field">
      <%= form.text_field :title,
        class: "form-control",
        placeholder: "Add a title",
        autofocus: true %>
    </div>

    <div class="form__field">
      <%= form.rich_text_area :body,
        placeholder: "Add a trip description",
        class: "form-control rounded-top-0",
        size: "30x3", required: true %>

      <% if @post.image.attached? %>
        <div class="d-flex flex-row border rounded-bottom-2 gap-1 p-2">
          <%= image_tag(post.image_as_thumbnail) %>
          <%= form.check_box :remove_image %>
          <%= form.label :remove_image, "Remove image" %>
        </div>
      <% end %>
    </div>

    <% unless @post.image.attached? %>
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload an image</label>
        <%= form.file_field :image, accept: 'image/png,image/jpeg', class: "form-control", id:"formFile" %>
      </div>
    <% end %>

    <% if @trip %>
      <%= form.hidden_field :trip_id, value: @trip.id %>
    <% else %>
      <%= form.hidden_field :trip_id, value: @post.trip.id %>
    <% end %>

    <div class="d-flex justify-content-start gap-2" role="group">
      <%= form.submit class: "btn btn-success" %>
      <%= link_to "Cancel", trip_url(@trip),
          class: "btn btn-secondary w-3" %>
    </div>

    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
