<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <title><%= content_for?(:title) ? yield(:title) : "Footprints · Track your travel" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>
    <%= yield :head %>
    <% if Rails.env.production? %>
      <%= Sentry.get_trace_propagation_meta.html_safe %>
    <% end %>
  </head>

  <body>
    <div class="mx-auto">
      <%= render "layouts/navbar" %>
      <div class="container mt-5">
        <%= yield %>
      </div>
    </div>

    <div
      class="modal"
      aria-hidden="false"
      aria-modal="true"
      tabindex="-1"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open"
      data-modal-target="modal"
    >
      <div class="modal-dialog">
        <div class="modal-content p-3">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>
  </body>
</html>
